
@media screen and (min-width: 769px) {
    .join_title {
        background: #f4f4f4 url(http://www.fujifilm.co.kr/event/photobook/2018/20181214_event/images/bg_join.png) 40px 26px no-repeat;
        border: solid 1px #e1e1e1;
        padding: 26px 0 27px 139px;
        margin-bottom: 12px;
    }
    
 }
  
 @media screen and (max-width: 768px) {
    .join_title {
        background: #f4f4f4 url(http://www.fujifilm.co.kr/event/photobook/2018/20181214_event/images/bg_join.png) 95px 26px no-repeat;
        border: solid 1px #e1e1e1;
        padding: 100px 15px 50px 25px;
        /* padding: 39%; */
        margin-bottom: 12px; } 
    
}

